# Ignore all files in this directory.
*

# Do not ignore the .gitkeep file.
# This ensures the empty directory is tracked by Git,
# so it exists for the application to write to upon first run.
!.gitkeep